.App {
    text-align: center;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.Home,
.AboutUs,
.Contact,
.Resources {
    color: #2B8C79;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (max-width: 1024px) {
    * {
        font-size: 12px;
    }
    /* .icon {
        width: 80%;
        height: 80%;
    } */
}

@media (max-width: 768px) {
    * {
        font-size: 12px;
    }
    /* .icon {
        width: 80%;
        height: 80%;
    } */
}

@media (max-width: 480px) {
    * {
        font-size: 10px;
    }
    /* .icon {
        width: 40%;
        height: 40%;
    } */
}

.icon {
    margin: 10px 0;
    /* color: rgb(255, 255, 255); */
    background-color: #1e9e82;
    width: 5.0vw;
    height: 5.0vw;
    border-radius: 50%;
    box-shadow: 0 0 15px 15px #1e9e82;
}