.App {
    text-align: center;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.Home,
.AboutUs,
.Contact,
.Resources {
    color: #2B8C79;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (max-width: 1024px) {
    * {
        font-size: 16px;
    }
}

.icon {
    margin: 10px 0;
    background-color: #1e9e82;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 15px 15px #1e9e82;
}